test/flows.json
[
    {
        "id": "a69917f5.fec6b8",
        "type": "sampler",
        "z": "21ce826.2ff977e",
        "name": "",
        "file": "sample.wav",
        "sampleRate": "1000",
        "mono": true,
        "offset": "2",
        "duration": "1",
        "resType": "kaiser_best",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "aa7b980b.277768"
            ]
        ]
    },
    {
        "id": "aa7b980b.277768",
        "type": "stft",
        "z": "21ce826.2ff977e",
        "name": "",
        "nFft": "1000",
        "hopLength": "20",
        "windowLength": "50",
        "x": 350,
        "y": 220,
        "wires": [
            [
                "244c7de6.e44682"
            ]
        ]
    },
    {
        "id": "3910427c.761cce",
        "type": "mfcc",
        "z": "21ce826.2ff977e",
        "name": "",
        "nMFCC": "15",
        "x": 710,
        "y": 400,
        "wires": [
            [
                "e669f77a.651a38"
            ]
        ]
    },
    {
        "id": "6669a833.3e3438",
        "type": "inject",
        "z": "21ce826.2ff977e",
        "name": "start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "a69917f5.fec6b8"
            ]
        ]
    },
    {
        "id": "81e5b599.509988",
        "type": "persistance",
        "z": "21ce826.2ff977e",
        "name": "",
        "save": "mfcc",
        "file": "generate new",
        "x": 590,
        "y": 340,
        "wires": [
            [
                "3910427c.761cce"
            ]
        ]
    },
    {
        "id": "244c7de6.e44682",
        "type": "base path",
        "z": "21ce826.2ff977e",
        "name": "",
        "basePath": "test",
        "x": 460,
        "y": 280,
        "wires": [
            [
                "81e5b599.509988"
            ]
        ]
    },
    {
        "id": "e669f77a.651a38",
        "type": "file",
        "z": "21ce826.2ff977e",
        "name": "log",
        "filename": "test/log.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 810,
        "y": 460,
        "wires": []
    }
]