test/flows.json
[
    {
        "id": "84125a40.9edab8",
        "type": "sampler",
        "z": "21ce826.2ff977e",
        "name": "",
        "file": "sample.wav",
        "sampleRate": "1000",
        "mono": true,
        "offset": "2",
        "duration": "1",
        "resType": "kaiser_best",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "44114b15.858034"
            ]
        ]
    },
    {
        "id": "44114b15.858034",
        "type": "stft",
        "z": "21ce826.2ff977e",
        "name": "",
        "nFft": "1000",
        "hopLength": "20",
        "windowLength": "50",
        "x": 330,
        "y": 160,
        "wires": [
            [
                "5cad83b3.b2e02c"
            ]
        ]
    },
    {
        "id": "e9503ab2.abcfa8",
        "type": "mfcc",
        "z": "21ce826.2ff977e",
        "name": "",
        "nMFCC": "15",
        "x": 690,
        "y": 340,
        "wires": [
            [
                "d7fbf2f0.1cfcd"
            ]
        ]
    },
    {
        "id": "daae8de1.b89ce",
        "type": "inject",
        "z": "21ce826.2ff977e",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 40,
        "wires": [
            [
                "84125a40.9edab8"
            ]
        ]
    },
    {
        "id": "70f802ff.529a5c",
        "type": "persistance",
        "z": "21ce826.2ff977e",
        "name": "",
        "save": "mfcc",
        "file": "generate new",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "e9503ab2.abcfa8"
            ]
        ]
    },
    {
        "id": "5cad83b3.b2e02c",
        "type": "base path",
        "z": "21ce826.2ff977e",
        "name": "",
        "basePath": "test",
        "x": 440,
        "y": 220,
        "wires": [
            [
                "70f802ff.529a5c"
            ]
        ]
    },
    {
        "id": "d7fbf2f0.1cfcd",
        "type": "file",
        "z": "21ce826.2ff977e",
        "name": "log",
        "filename": "test/log.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 790,
        "y": 400,
        "wires": []
    }
]