flows.json
[
    {
        "id": "55401139.57813",
        "type": "sampler",
        "z": "12b76b1c.d868f5",
        "name": "",
        "file": "sample.wav",
        "sampleRate": "1000",
        "mono": true,
        "offset": "2",
        "duration": "1",
        "resType": "kaiser_best",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "39fadce0.36f524"
            ]
        ]
    },
    {
        "id": "39fadce0.36f524",
        "type": "stft",
        "z": "12b76b1c.d868f5",
        "name": "",
        "nFft": "1000",
        "hopLength": "20",
        "windowLength": "50",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "b9a3ab90.f91228"
            ]
        ]
    },
    {
        "id": "60b4e939.6498c8",
        "type": "mfcc",
        "z": "12b76b1c.d868f5",
        "name": "",
        "nMFCC": "15",
        "x": 690,
        "y": 360,
        "wires": [
            [
                "15a528f2.4bdca7"
            ]
        ]
    },
    {
        "id": "acd0d0f5.f79f6",
        "type": "inject",
        "z": "12b76b1c.d868f5",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "55401139.57813"
            ]
        ]
    },
    {
        "id": "c05f4cff.97755",
        "type": "persistance",
        "z": "12b76b1c.d868f5",
        "name": "",
        "save": "mfcc",
        "file": "overwrite",
        "x": 570,
        "y": 300,
        "wires": [
            [
                "60b4e939.6498c8"
            ]
        ]
    },
    {
        "id": "b9a3ab90.f91228",
        "type": "base path",
        "z": "12b76b1c.d868f5",
        "name": "",
        "basePath": "C:\\Users\\gabri\\Documents\\Workspace\\node-red-audio-feature-extraction\\test",
        "x": 440,
        "y": 240,
        "wires": [
            [
                "c05f4cff.97755",
                "bc30de44.cb016"
            ]
        ]
    },
    {
        "id": "2a939fd.a791f6",
        "type": "inject",
        "z": "12b76b1c.d868f5",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 440,
        "wires": [
            [
                "6d88a8a9.e7b798"
            ]
        ]
    },
    {
        "id": "9af335b9.b4ce98",
        "type": "buffer",
        "z": "12b76b1c.d868f5",
        "name": "",
        "size": "5",
        "x": 410,
        "y": 520,
        "wires": [
            [
                "36e5f68e.6865ea"
            ]
        ]
    },
    {
        "id": "36e5f68e.6865ea",
        "type": "debug",
        "z": "12b76b1c.d868f5",
        "name": "Print",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "config.samples",
        "x": 550,
        "y": 520,
        "wires": []
    },
    {
        "id": "6d88a8a9.e7b798",
        "type": "function",
        "z": "12b76b1c.d868f5",
        "name": "generate",
        "func": "var count = flow.get('count') || 0\n\nvar samples = []\n\nfor(var i = 0; i < 3; i++){\n    samples.push(count++)\n}\n\nflow.set('count', count)\n\nmsg.payload = samples\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 440,
        "wires": [
            [
                "579a89ad.930968"
            ]
        ]
    },
    {
        "id": "fec73850.dbe0b8",
        "type": "mqtt in",
        "z": "12b76b1c.d868f5",
        "name": "",
        "topic": "maurina-test",
        "qos": "2",
        "broker": "74204f07.beb9e",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "a0b98283.8a983"
            ]
        ]
    },
    {
        "id": "579a89ad.930968",
        "type": "mqtt out",
        "z": "12b76b1c.d868f5",
        "name": "",
        "topic": "maurina-test",
        "qos": "",
        "retain": "",
        "broker": "74204f07.beb9e",
        "x": 430,
        "y": 440,
        "wires": []
    },
    {
        "id": "a0b98283.8a983",
        "type": "json",
        "z": "12b76b1c.d868f5",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 270,
        "y": 520,
        "wires": [
            [
                "9af335b9.b4ce98"
            ]
        ]
    },
    {
        "id": "15a528f2.4bdca7",
        "type": "debug",
        "z": "12b76b1c.d868f5",
        "name": "Print",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "bc30de44.cb016",
        "type": "persistance",
        "z": "12b76b1c.d868f5",
        "name": "",
        "save": "mel+chroma",
        "file": "overwrite",
        "x": 450,
        "y": 60,
        "wires": [
            [
                "7c1e957.c08206c"
            ]
        ]
    },
    {
        "id": "7c1e957.c08206c",
        "type": "mel",
        "z": "12b76b1c.d868f5",
        "name": "",
        "power": "1",
        "x": 570,
        "y": 120,
        "wires": [
            [
                "e9a777b6.a7fe48"
            ]
        ]
    },
    {
        "id": "e9a777b6.a7fe48",
        "type": "chroma",
        "z": "12b76b1c.d868f5",
        "name": "",
        "norm": "",
        "tuning": "",
        "x": 680,
        "y": 180,
        "wires": [
            [
                "15a528f2.4bdca7"
            ]
        ]
    },
    {
        "id": "74204f07.beb9e",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.eclipse.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    }
]
