flows.json
[
    {
        "id": "af433d62.4fe8b",
        "type": "sampler",
        "z": "63747e25.a77bb",
        "name": "",
        "file": "sample.wav",
        "sampleRate": "1000",
        "mono": true,
        "offset": "2",
        "duration": "1",
        "resType": "kaiser_best",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "80bc2b7d.177a98"
            ]
        ]
    },
    {
        "id": "80bc2b7d.177a98",
        "type": "stft",
        "z": "63747e25.a77bb",
        "name": "",
        "nFft": "1000",
        "hopLength": "20",
        "windowLength": "50",
        "x": 350,
        "y": 220,
        "wires": [
            [
                "6f1e65de.ba7d8c"
            ]
        ]
    },
    {
        "id": "64e19ae2.fa2004",
        "type": "mfcc",
        "z": "63747e25.a77bb",
        "name": "",
        "nMFCC": "15",
        "x": 710,
        "y": 400,
        "wires": [
            [
                "48444031.a3261"
            ]
        ]
    },
    {
        "id": "1504fe20.876032",
        "type": "inject",
        "z": "63747e25.a77bb",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "af433d62.4fe8b"
            ]
        ]
    },
    {
        "id": "4f98e6bf.242318",
        "type": "persistance",
        "z": "63747e25.a77bb",
        "name": "",
        "save": "mfcc",
        "file": "generate new",
        "x": 590,
        "y": 340,
        "wires": [
            [
                "64e19ae2.fa2004"
            ]
        ]
    },
    {
        "id": "6f1e65de.ba7d8c",
        "type": "base path",
        "z": "63747e25.a77bb",
        "name": "",
        "basePath": "C:\\Users\\gabri\\Documents\\Workspace\\node-red-audio-feature-extraction\\test",
        "x": 460,
        "y": 280,
        "wires": [
            [
                "4f98e6bf.242318",
                "35fd203c.7f501"
            ]
        ]
    },
    {
        "id": "48444031.a3261",
        "type": "debug",
        "z": "63747e25.a77bb",
        "name": "Print",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "35fd203c.7f501",
        "type": "persistance",
        "z": "63747e25.a77bb",
        "name": "",
        "save": "mel+chroma",
        "file": "overwrite",
        "x": 470,
        "y": 100,
        "wires": [
            [
                "36af2484.a934bc"
            ]
        ]
    },
    {
        "id": "36af2484.a934bc",
        "type": "mel",
        "z": "63747e25.a77bb",
        "name": "",
        "power": "1",
        "x": 590,
        "y": 160,
        "wires": [
            [
                "b682b96a.b47f48"
            ]
        ]
    },
    {
        "id": "b682b96a.b47f48",
        "type": "chroma",
        "z": "63747e25.a77bb",
        "name": "",
        "norm": "",
        "tuning": "",
        "x": 700,
        "y": 220,
        "wires": [
            [
                "48444031.a3261"
            ]
        ]
    },
    {
        "id": "462cd98b.48d6f8",
        "type": "converter",
        "z": "63747e25.a77bb",
        "name": "",
        "origSr": "",
        "targetSr": "",
        "resType": "kaiser_best",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "80bc2b7d.177a98"
            ]
        ]
    },
    {
        "id": "6910192.c0265e8",
        "type": "serial in",
        "z": "63747e25.a77bb",
        "name": "",
        "serial": "1dcac3df.02db3c",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "462cd98b.48d6f8"
            ]
        ]
    },
    {
        "id": "1dcac3df.02db3c",
        "type": "serial-port",
        "z": "63747e25.a77bb",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "88200",
        "bin": "bin",
        "out": "count",
        "addchar": false
    }
]